section.advantages-all
    .container
        h2.title
            | СЕДОНА — небольшой городок в АРИЗОНЕ,
            br
            | заслуживающий большего!

        p.text Рассмотрим 5 причин, по которым Седона круче чем гранд каньон!
        .advantages.advantages--1
            .advantages__text
                h2.advantages__header НАСТОЯЩИЙ
                    br
                    | ГОРОДОК
                .number - №1 -
                .advantages__description СЕДОНА НЕ АТРАКЦИОН ДЛЯ ТУРИСТОВ, ТАМ ТЕЧЕТ СВОЯ ЖИЗНЬ
            .advantages__picture1
        ul.advantages__list
            li.advantages__item
                .icon.icon-house
                h3.advantages__header Жилье
                p.advantages__description Рекомендуем пожить в настоящем мотеле, все как в кино!
            li.advantages__item
                .icon.icon-burger
                h3.advantages__header Еда
                p.advantages__description Всегда заказывай ФИРМЕННЫЙ БУРГЕР, Вы НЕ разочаруетесь!
            li.advantages__item
                .icon.icon-gift
                h3.advantages__header Сувениры
                p.advantages__description Не только китайского, но и местного производства!
        .advantages.advantages--2
            .advantages__text
                h2.advantages__header ТАМ ЕСТЬ
                    br
                    |Мост дьявола
                .number - №2 -
                .advantages__description Да, по нему можно пройти! Если конечно вы осмелитесь
            .advantages__picture2
        ul.advantages__list.advantages__list--grey
            li.advantages__item
                h3.advantages__header НЕБОЛЬШАЯ
                    br
                    |ПЛОЩАДЬ
                .number - №3 -
                p.advantages__description ВСЕ достопримечательности находятся очень близко
            li.advantages__item
                h3.advantages__header КРАСИВАЯ
                    br
                    |ДОРОГА
                .number - №4 -
                p.advantages__description ЕХАТЬ В СЕДОНУ ИЗ ЛАС-ВЕГАСА совсем НЕ СКУЧНО!
            li.advantages__item
                h3.advantages__header МАЛО
                    br
                    |ТУРИСТОВ
                .number - №5 -
                p.advantages__description Большинство едет в гранд каньон и толпится там



