.container
    footer.footer
        .footer__item.footer__hash #visitSEDONA
        .footer__item
            a.footer__social.footer__social--twitter(href='http://twitter.com' target='_blank')
                i.fa.fa-twitter(aria-hidden="true")
            a.footer__social.footer__social--facebook(href='http://facebook.com' target='_blank')
                i.fa.fa-facebook(aria-hidden="true")
            a.footer__social.footer__social--youtube(href='http://youtube.com' target='_blank')
                i.fa.fa-youtube-play(aria-hidden="true")
        .footer__item.footer__academy Разработано
            img(src="/images/academy-logo.svg" alt= "picture" width="30px")
