.container
    header.header
        .logo
            a(href="#")
                img.logo__picture(src="/images/logotype.png" alt="sedona")
        include nav
        section.header__hero
            img.header__text(src="/images/text-index.png" alt="sedona slogan")




