section.interest
    .container
        .interest__container
            h2 Заинтересовались?
            p Укажите предполагаемые даты поездки и мы покажем вам лучшие предложения гостиниц в седоне
            button.button.button--big НАЙТИ гостиницу
