nav.main-nav
    ul.main-nav__items
        li.main-nav__item.main-nav__item--active
            a Главная
        li.main-nav__item
            a(href='#') ФОТО И ВИДЕО
        li.main-nav__item
            a(href='#') Форма отзыва
        li.main-nav__item
            a(href='#') HTML Academy
