.title {
  margin-top: 0;
  padding-top: 50px;
  text-align: center;
  text-transform: uppercase;
  font-family: $ff-main-bold;
}

.text {
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 35px;
}

.advantages__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 70px;
}

.advantages__item {
  width: 30%;
  flex-basis: 220px;
  text-align: center;
  text-transform: uppercase;
}

.advantages__header {
  font-family: $ff-main-bold;
  font-size: 21px;
}

.advantages {
  display: flex;
  flex-wrap: wrap;
  background-color: #80B1CF;
  color: #fff;
}

.advantages__text {
  padding: 50px;
  flex-grow: 0;
  flex-basis: 400px;
  text-align: center;
  text-transform: uppercase;
}

.advantages__picture1 {
  flex-grow: 4;
  min-width: 400px;
  background: url("../images/photo-city@1x.jpg") no-repeat center/cover;
}

.advantages__picture2 {
  flex-grow: 4;
  min-width: 400px;
  background: url("../images/photo-bridge@1x.jpg") no-repeat center/cover;
}

.number {
  margin-bottom: 20px;
}

.advantages--2 {
  flex-direction: row-reverse;
}

.advantages__list--grey {
  background-color: #EDEDED;
}

@media (max-width: 850px) {
  .advantages__list {
    flex-direction: column;
    align-items: center;
  }
  .advantages__item {
    flex-basis: 180px;
    margin-bottom: 20px;
    width: 100%;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .advantages__item--grey {
    border-bottom: 1px solid #DBDBDB;
    &:last-child {
      border-bottom: none;
    }
  }

  .advantages {
    flex-direction: column;
  }
  .advantages__text {
    flex-basis: 270px;
  }
  .advantages__picture1,
  .advantages__picture2 {
    width: 100%;
    min-height: 270px;
    min-width: 300px;
  }
}